/* main colors */
:root {
  --pink: #e79b99;
  --orange: #f9af61;
  --yellow: #fde9c7;
}

* {
  font-family: "Quicksand", sans-serif;
  font-size: 1.05rem;
}

/* header */

body,
header {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0;
  position: relative;
}

header {
  background-image: url("./img/header/header-background.png");
  background-size: contain;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo-div {
  display: grid;
  place-items: center;
  background-color: white;
  padding: 0 1em 0 1em;
}

header img {
  width: 140px;
}

.logo-text {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: white;
  padding-bottom: 0.2em;
}

/* navbar */

#nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  background-color: var(--pink);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#nav-bar p {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

.nav-bar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav-link {
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-weight: 500;
  padding: 2em;
}

.cart-div {
  display: grid;
  place-items: center;
  justify-content: start;
}

nav img {
  width: 1.5em;
  justify-self: center;
}

/* main */

h1,
h2 {
  font-family: "Lora", serif;
  font-weight: lighter;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

main {
  position: relative;
  max-width: 85vw;
  top: 0;
  padding-top: 200px;
  margin-bottom: 5%;
  z-index: 0;
}

h2 {
  margin-top: 2em;
  font-size: 1.2rem;
}

/* product section (carrousel and product info) */

.product-section {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 2em;
  align-items: start;
}

.carrousel-section {
  position: relative;
  margin-right: 1em;
  min-width: 270px;
  min-height: auto;
  max-width: 794px;
  max-height: auto;
  display: grid;
  grid-template-columns: 8% 84% 8%;
  place-items: center;
}

.carrousel-section img {
  width: 100%;
  height: 100%;
}

.product-info {
  margin-left: 1em;
}

.price {
  font-size: 2rem;
  font-weight: 500;
}

.add-to-cart-button,
.submit-button {
  width: 100%;
  padding: 1em;
  background-color: var(--yellow);
  border: none;
  border-radius: 0.3em;
  color: black;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
}

.add-to-cart-button:hover {
  background-color: var(--orange);
}

.product-info a {
  text-decoration: none;
  font-size: 1.05rem;
  color: black;
}

.product-info a:hover {
  color: var(--pink);
}

/* carrousel */

.mayor-carrousel-container {
  position: relative;
  min-width: 270px;
  min-height: auto;
  max-width: 794px;
}

.carrousel-container {
  position: relative;
  min-width: 200px;
  max-width: 794px;
  /* max-height: auto; */
}

.images-container {
  width: 100%;
  height: 100%;
}

.carrousel-image {
  display: none;
  width: 100%;
  height: 100%;
}

.cursor {
  cursor: pointer;
}

/* carrousel prev and next buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 0.6em 1em;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  background-color: var(--pink);
}

.prev:hover,
.next:hover {
  background-color: var(--pink);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#about-div {
  width: 100%;
}

.video-section {
  display: grid;
  place-items: center;
  margin-top: 5vh;
}

.video-container {
  aspect-ratio: 3 / 2;
  width: 100%;
  display: grid;
  place-items: center;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

/* description and more information section */

form p {
  margin-block-end: 0;
}

.input-and-button {
  display: flex;
  align-items: center;
}

input[type="email"] {
  width: 100%;
  padding: 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  margin-left: 1em;
  padding: 0.6em;
}

.submit-button:hover {
  background-color: #ee918d;
}

/* footer */

footer {
  width: 100%;
  background-color: var(--yellow);
  text-align: center;
}

.footer-content {
  margin: 1% 5% 1% 5%;
}

footer p,
a {
  font-size: 0.9rem;
  margin-block-start: 0.4em;
  margin-block-end: 0;
  /* color: whitesmoke; */
  color: grey;
}

/* media queries */

@media only screen and (max-width: 280px) {
  .carrousel-section {
    min-width: 240px;
  }

  .mayor-carrousel-container {
    min-width: 150px;
    max-width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  main {
    max-width: 90vw;
  }

  #nav-bar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .nav-link {
    font-size: 1rem;
    padding: 1em;
  }
  nav img {
    width: 1em;
  }

  .product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0em;
  }

  .carrousel-section {
    margin-right: 0;
    /* min-width: 240px; */
  }

  .mayor-carrousel-container {
    min-width: 150px;
    max-width: 320px;
  }

  .prev,
  .next {
    font-size: 0.7rem;
    padding: 0.2em 0.5em;
  }

  .product-info {
    margin-left: 0;
    margin: 1em;
  }

  .more-information {
    margin: 1em;
  }
  .about {
    margin: 1em;
  }
  .input-and-button {
    flex-direction: column;
    align-items: stretch;
  }
  .submit-button {
    margin-left: 0;
  }

  h1 {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 601px) and (max-width: 913px) {
  main {
    max-width: 75vw;
  }

  .product-section {
    display: flex;
    flex-wrap: wrap;
  }

  .product-info {
    margin-left: 0;
  }

  h1 {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1441px) {
  .product-section {
    display: flex;
    place-items: center;
    justify-content: center;
  }
}
